.claude
.vscode
node_modules
apps/web/node_modules
apps/web/dist
apps/mobile/node_modules
backend/functions/lib
backend/functions/node_modules
backend/firebase/.firebase
backend/firebase/firebase-debug.log
